# Exercises for the weekend - solutions

**Exercise 1**. Write a function, named `is_float()`, that does a similar task to `is_int()` but with floats.

In [1]:
def is_float( a ):
    '''
    Input: a string a
    Returns: True if and only if a can be converted by float()
    '''
    
    a_dot = False # True if we already met a dot in the string
    
    for x in a:
        # if x is not a digit, return False
        if x == '.': 
            if a_dot:
                return False
            else:
                a_dot = True            
        elif x < '0' or x > '9':
            return False
        
    return True
        


a = '3.1415'

if is_float(a):
    a = float(a)
    print(a)
else:
    print('the string', a, ' cannot be converted in float')

3.1415

**Exercise 2**: Write a function called `count_words()` that returns the number of words in a string. A word is substring surrounded by at least a space.


**Solution**: Idea, count the number of times that a space character is followed by a non-space character.

In [2]:
def count_words( a ):
    '''
    Input: a string
    Output: Number of words in a
    '''
    
    count = 0
    
    i = 0
    
    while i < len(a)-1 :
        if a[i] == ' ' and  a[i+1] != ' ':
            count += 1
        i += 1
        
    
    # if a[0] != ' ' and len(a) > 0:  is wrong
    if len(a) > 0 and a[0] != ' ':
        count += 1
        
    return count
    

a = '       this is  a string with six words'
b = ''    # empty string
print( count_words( a ) )
print( count_words( b ) )

7
0

## Tuples

The *indexing*, *slicing*, *concatenation* and *repetition* operators and the `len()` function used with strings can be also used with tuples in the same way. Like strings, tuples are immutable.

In [4]:
t = ( 1, 3, 4.9, 3, 4, 'python', (0, 2), 'a string' )

print(t[3])
print(len(t))

for x in t:
    print(x, type(x))
    
print( t[2:5] ) # a new tuple

# t[4] = 'wrong!' the tuples are immutable

print( 4 in t)
print( '4' in t)

3
8
1 <class 'int'>
3 <class 'int'>
4.9 <class 'float'>
3 <class 'int'>
4 <class 'int'>
python <class 'str'>
(0, 2) <class 'tuple'>
a string <class 'str'>
(4.9, 3, 4)
True
False

**Problem**:  Write a function called `mean_val` that takes in input a tuple `t` and returns the mean value of al numbers in `t`.

In [5]:
def mean_value( t ):
    '''
    Parameters
    ----------
    t : a tuple

    Returns
    ------
    The mean value of all the numbers in t or None if there are no numbers in t

    '''
    
    total_sum, count_numbers = 0, 0
    
    for x in t:
        if type(x) in (type(0), type(0.0)):
            total_sum += x
            count_numbers += 1
        
    # conditional assignment
    r = None if count_numbers == 0 else total_sum/count_numbers
    
    '''
    this is the same of...
    
    if count_numbers == 0:
        r = None
    else:
        r = total_sum/count_numbers
    '''
    
    return r


t0 = ( 1, 3, 4.9, 3, 4, 'python', (0, 2), 'a string' )
t1 = ('this is not a number', ) # tuple with a single item, a comma is necessary
print( mean_value( t0 ) )

3.18

> ### Python note
>
> The expression in line 17 replaces the previous commented `if...else` statement. It is a **conditional assignment**. Its syntax is
>
>```python
>    a = val0 if cond else val1
>```
>
>The value of the expression on the right of the assignment is `val0` if `cond` is `True`, otherwise it is >`val1`.

**Problem**: Write a function named `longest_str` that takes in input a tuple of strings and returns the longest one and its length.

In [6]:
def longest_string( t ):
    '''
    Parameters
    ----------
    t : tuple of strings

    Returns
    -------
    the longest string in t, None if t is empty

    '''
    longest_string = None
    
    for x in t:
        if longest_string == None or len(x) > len(longest_string):
            longest_string = x
    
    return longest_string

t1 = ('one', 'zero', 'two', 'three', 'four')
t0 = () # empty tuple
print( longest_string( t1 )  )

three

## `min` and `max` functions

In [8]:
print( max(2, 3, 1) )
t0 = (2,1,2,4,4,2,1)
print( max(t0), min(t0) )

t1 = ('one', 'zero', 'two', 'three', 'four', 'x')
print(max(t1))

3
4 1
zero

With the optional parameter `key` it is possible to customize the objective function. The `key` parameter must be a function that defines a value for each items in the sequence. The `max` (resp., `min`)  function will return the item that maximizes (resp., minimizes) the values of the `key` function.

In [10]:
print( max(t1, key=len) )
print( min(t1, key=len) )

three
x